{{!-- Include the header from partials/header.hbs --}}
{{> header}}
<div style="display:none">
  {{title editable="true"}}
  {{content editable="true"}}
</div>
{{> homepage}}
{{!-- Switch to the post context --}}
{{#post}}
{{#is @settings.homepage '!==' title}}
  <section class="section section-default m-none pt-xlg">
    <div class="container-fluid sample-item-container">
      <div class="row">

          <div class="col-md-12 center pb-xl">

              {{!-- The post title should have editable="true" here --}}
              <h1 class="title">{{title editable="true"}}</h1>
              {{!-- The `post_class` helper outputs useful classes for styling --}}
              <article class="{{post_class}}">
                  {{!-- The post content should have editable="true" here --}}
                  <div class="post-content">
                      {{content editable="true"}}
                  </div>
              </article>

           </div>
      </div>
    </div>
  </section>
{{/is}}


{{/post}}

{{!-- Include the footer from partials/footer.hbs --}}
{{> footer}}
