						</main>
					</div> <!-- component (header)-->

					<!-- panel de la derecha -->
					{{>aside}}


						</div><!-- content-inner (header)-->
					</div><!-- container (header)-->
				</div><!-- row container (header)-->
		</div><!-- content-row (header)-->
		<div id="push"></div>
	</div> <!-- wrapper-inner (header)-->
	</div><!-- wrapper (header)-->



		<div id="footer-wrapper">
			<div class="footer-wrapper-inner">

				<div id="copyright-row" role="contentinfo">
					<div class="row-container">
						<div class="container">
							<div class="row">
								<div id="copyright" class="span12">
									<span class="siteName">ElDomo</span>
									<span class="copy">&copy;</span> <span class="year">2017</span> <a class="privacy_link" href="#"></a>
								</div>
							</div>
						</div>
						</div>
				</div>
			</div>
		</div>


	<div id="back-top">
		<a href="#"><span></span> </a>
	</div>

	<div class="modal hide fade moduletable  loginPopup" id="modal">
		<div class="modal-header">
			<button type="button" class="close modalClose">×</button>
			<header>
				<h3 class="">
					<span class="item_title_part0 item_title_part_odd item_title_part_first_half item_title_part_first">Login</span>
					<span class="item_title_part1 item_title_part_even item_title_part_second_half item_title_part_last">form</span>
				 </h3>
			 </header>
		 </div>
		 <div class="modal-body">
			 <div class="mod-login mod-login__">
					<form action="/joomla_52025/index.php" method="post" id="login-form" class="form-inline">
						<div class="mod-login_userdata">
								<div id="form-login-username" class="control-group">
									<div class="controls">
										<input id="mod-login_username16" class="inputbox mod-login_username" type="text" name="username" tabindex="1" size="18" placeholder="User name" required>
									</div>
								</div>
								<div id="form-login-password" class="control-group">
									<div class="controls">
										<input id="mod-login_passwd16" class="inputbox mod-login_passwd" type="password" name="password" tabindex="2" size="18" placeholder="Password" required>
									</div>
								</div>
								<label for="mod-login_remember16" class="checkbox">
									<input id="mod-login_remember16" class="mod-login_remember" type="checkbox" name="remember" value="yes">
									Remember me
								</label>
								<div class="mod-login_submit">
									<button type="submit" tabindex="3" name="Submit" class="btn btn-primary">Log in</button>
								</div>
								<ul class="unstyled">
									<li><a href="/joomla_52025/index.php/username-reminder-request" class="" title="Forgot your username?">Forgot your username?</a></li>
									<li><a href="/joomla_52025/index.php/password-reset" class="" title="Forgot your password?">Forgot your password?</a></li>
									<li><a href="/joomla_52025/index.php/user-registration">Create an account</a></li>
								</ul>
								<input type="hidden" name="option" value="com_users">
								<input type="hidden" name="task" value="user.login">
								<input type="hidden" name="return" value="aW5kZXgucGhwP0l0ZW1pZD0xMDE=">
								<input type="hidden" name="6fb6a3e3a5cfd854786b1155a7082ea1" value="1"/>
						</div>
					</form>
				</div>
			</div>
	</div>

<script src="{{theme_url 'js/jquery.centerIn.js'}}"></script>
<script>
	// initialise plugins
	jQuery(function($){
		$('#module-93')

		.superfish({
			hoverClass:    'sfHover',
	    pathClass:     'overideThisToUse',
	    pathLevels:    1,
	    delay:         500,
	    animation:     {opacity:'show', height:'show'},
	    speed:         'normal',
	    speedOut:      'fast',
	    autoArrows:    false,
	    disableHI:     false,
	    useClick:      0,
	    easing:        "swing",
	    onInit:        function(){},
	    onBeforeShow:  function(){},
	    onShow:        function(){},
	    onHide:        function(){},
	    onIdle:        function(){}
		})
				.mobileMenu({
			defaultText: "Navigate to...",
			className: "select-menu",
			subMenuClass: "sub-menu"
		});

		var ismobile = navigator.userAgent.match(/(iPhone)|(iPod)|(android)|(webOS)/i)
		if(ismobile){
			$('#module-93').sftouchscreen();
		}
		$('.btn-sf-menu').click(function(){
			$('#module-93').toggleClass('in')
		});
					$('#module-93').parents('[id*="-row"]').scrollToFixed({minWidth :768});
					})
</script>
<script>
          jQuery(function($) {
            $('.modal.loginPopup').alwaysCenterIn(window);
          });
        </script>
<script src="{{theme_url 'js/jquery.simplr.smoothscroll.stellar.modernizr.min.js'}}"></script>
<script>
          jQuery(function($) {
            if (!Modernizr.touch) {
              $.srSmoothscroll({ease: 'easeOutQuart'});
              $(window).load(function(){
                $.stellar({responsive: true,horizontalScrolling: false});
              });
            }
          });
        </script>
<script src="{{theme_url 'js/jquery.fancybox.pack.js'}}"></script>
<script src="{{theme_url 'js/jquery.fancybox-buttons.js'}}"></script>
<script src="{{theme_url 'js/jquery.fancybox-media.js'}}"></script>
<script src="{{theme_url 'js/jquery.fancybox-thumbs.js'}}"></script>
<script src="{{theme_url 'js/jquery.pep.js'}}"></script>
<script src="{{theme_url 'js/jquery.vide.min.js'}}"></script>
<script src="{{theme_url 'js/scripts.js'}}"></script>
{{!-- This helper is required in every theme. It should exist just before the </body> tag --}}
{{leafpub_foot}}
</body>
</html>
