						</main>
					</div> <!-- component (header)-->

					<!-- panel de la derecha -->
					{{>aside}}


						</div><!-- content-inner (header)-->
					</div><!-- container (header)-->
				</div><!-- row container (header)-->
		</div><!-- content-row (header)-->
		<div id="push"></div>
	</div> <!-- wrapper-inner (header)-->
	</div><!-- wrapper (header)-->



		<div id="footer-wrapper">
			<div class="footer-wrapper-inner">

				<div id="copyright-row" role="contentinfo">
					<div class="row-container">
						<div class="container">
							<div class="row">
								<div id="copyright" class="span12">
									<span class="siteName">ElDomo</span>
									<span class="copy">&copy;</span> <span class="year">2017</span> <a class="privacy_link" href="#"></a>
								</div>
							</div>
						</div>
						</div>
				</div>
			</div>
		</div>


	<div id="back-top">
		<a href="#"><span></span> </a>
	</div>



<script src="{{theme_url 'js/jquery.centerIn.js'}}"></script>
<script>
	// initialise plugins
	jQuery(function($){
		$('#module-93')

		.superfish({
			hoverClass:    'sfHover',
	    pathClass:     'overideThisToUse',
	    pathLevels:    1,
	    delay:         500,
	    animation:     {opacity:'show', height:'show'},
	    speed:         'normal',
	    speedOut:      'fast',
	    autoArrows:    false,
	    disableHI:     false,
	    useClick:      0,
	    easing:        "swing",
	    onInit:        function(){},
	    onBeforeShow:  function(){},
	    onShow:        function(){},
	    onHide:        function(){},
	    onIdle:        function(){}
		})
				.mobileMenu({
			defaultText: "Navigate to...",
			className: "select-menu",
			subMenuClass: "sub-menu"
		});

		var ismobile = navigator.userAgent.match(/(iPhone)|(iPod)|(android)|(webOS)/i)
		if(ismobile){
			$('#module-93').sftouchscreen();
		}
		$('.btn-sf-menu').click(function(){
			$('#module-93').toggleClass('in')
		});
					$('#module-93').parents('[id*="-row"]').scrollToFixed({minWidth :768});
					})
</script>
<script>
          jQuery(function($) {
            $('.modal.loginPopup').alwaysCenterIn(window);
          });
        </script>
<script src="{{theme_url 'js/jquery.simplr.smoothscroll.stellar.modernizr.min.js'}}"></script>
<script>
          jQuery(function($) {
            if (!Modernizr.touch) {
              $.srSmoothscroll({ease: 'easeOutQuart'});
              $(window).load(function(){
                $.stellar({responsive: true,horizontalScrolling: false});
              });
            }
          });
        </script>
<script src="{{theme_url 'js/jquery.fancybox.pack.js'}}"></script>
<script src="{{theme_url 'js/jquery.fancybox-buttons.js'}}"></script>
<script src="{{theme_url 'js/jquery.fancybox-media.js'}}"></script>
<script src="{{theme_url 'js/jquery.fancybox-thumbs.js'}}"></script>
<script src="{{theme_url 'js/jquery.pep.js'}}"></script>
<script src="{{theme_url 'js/jquery.vide.min.js'}}"></script>
<script src="{{theme_url 'js/scripts.js'}}"></script>
{{!-- This helper is required in every theme. It should exist just before the </body> tag --}}
{{leafpub_foot}}
</body>
</html>
