{{!-- Post loop --}}
<div class="loop">

    {{!-- Loop through each post --}}
    {{#each posts}}

    <div class="items-row cols-1 row-0 row-fluid">
        <div class="span12">
            <article class="item column-1 visible-first">

              <figure class="item_img img-intro img-intro__left">
                <a href="{{post_url}}">
                  <span class="lazy_container lazyloaded" style="width: 270px;">
                    <span class="lazy_preloader" style="padding-top: 68.888888888889%;"></span>
                    {{#if image}}<img src="{{url image}}" class="lazy" alt="" style="display: block;">{{/if}}
                  </span>
                </a>
              </figure>

              <figcaption>
                {{!-- Tags --}}
                  {{tags}}
              </figcaption>

              <header class="item_header">
              <h4 class="item_title visible-first">
                <a href="{{post_url}}" class="custom_hover">
                  <span class="item_title_part0 item_title_part_odd item_title_part_first_half item_title_part_first">
                      {{title}}
                  </span>
                </a>
              </h4>
              </header>

              <div class="item_introtext">
                {{excerpt words="50"}} ...
              </div>

              <div class="item_info">
                <dl class="item_info_dl">
                  <dt class="article-info-term"></dt>
                  <dd>
                    <time class="item_published" datetime="{{date format="%Y-%m-%d"}}">
                        {{date format="%B %e, %Y"}}
                    </time>
                  </dd>
                  <dd>
                    {{#author}}
                        <address class="item_createdby">
                          <a class="author" href="{{author_url}}">{{name}}</a>
                        </address>
                    {{/author}}
                  </dd>                  
                </dl>
              </div>

            </article>
          </div>
        </div>


    {{/each}}

</div>
