<div id="content-top-row" class="row">
	<div id="content-top">
		<!-- SLIDER -->
			<div class="moduletable big  span6">
					<div class="mod_caroufredsel mod_caroufredsel__big" id="module_91">
							<div id="list_carousel_91" class="list_carousel">
									<ul id="caroufredsel_91">
										{{#each posts sort="newest"}}
											{{#is sticky}}
												<li class="item">
													<div class="item_content">
														<figure class="item_img img-intro img-intro__none">
															<a href="{{post_url}}">
															<span class="lazy_container" style="width: 768px;">
																<span class="lazy_preloader" style="padding-top: 73.697916666667%;"></span>
																<img src="#plugins/system/tmlazyload/blank.gif" class="lazy" data-src="{{url image}}" alt="{{title}}">
															</span>
															<figcaption>{{tags}}</figcaption>
															</a>
														</figure>

														<div class="item_titulo">
															<h4 class="item_title item_title__big">
																<a href="">{{title}}</a>
															</h4>
															<div class="item_info">
																<dl class="item_info_dl">
																	<dt class="article-info-term"></dt>
																	<dd>
																		<time datetime="{{date format="%Y-%m-%d"}}" class="item_published">
																		{{date format="%B %e, %Y"}}
																	</time>
																	</dd>
																</dl>
															</div>
														</div>

													</div>
												</li>
											{{/is}}
										{{/each}}
										</ul>

							<div id="carousel_91_pag" class="caroufredsel_pagination"></div>
							<div class="clearfix"></div>
						</div>
				</div>
			</div>
			<!-- FIN SLIDER -->


		<!-- DESTACADO -->
		<div class="moduletable  popular pull-right  span4">
					<header>
						<h3 class="moduleTitle ">

						</h3>
					</header>
						<div class="mod-newsflash-adv news mod-newsflash-adv__ popular pull-right cols-1" id="module_109">
										{{#each posts }}
										  {{#is sticky}}
												<div class="row-fluid">
														<article class="span4 item item_num0 item__module" id="item_82">

															<figure class="item_img img-intro img-intro__left">
																	<a href="{{post_url}}">
																		<span class="lazy_container" style="width: 115px;">
																			<span class="lazy_preloader" style="padding-top: 73.913043478261%;"></span>
																			<img src="#plugins/system/tmlazyload/blank.gif" class="lazy" data-src="{{image}}" alt="">
																		</span>
																	</a>
															</figure>

															<div class="">
																	<figcaption>{{tags}}</figcaption>

																	<h4 class="item_title">
																		<a href="{{post_url}}">{{title}}</a>
																	</h4>
																	<div class="item_introtext"></div>

																	<div class="item_info">
																		<dl class="item_info_dl">
																			<dt class="article-info-term"></dt>
																			<dd>
																				<time datetime="{{date format="%Y-%m-%d"}}" class="item_published">{{date format="%B %e, %Y"}}</time>
																			</dd>
																		</dl>
																	</div>
															</div>
															<div class="clearfix"></div>
													</article>
												</div>
											{{/is}}
										{{/each}}
							<div class="clearfix"></div>

					</div>
			</div>
			<!-- FIN DESTACADO -->


		<!-- LATEST NEWS -->

		<div class="moduletable   span6">
			<header>
				<h3 class="moduleTitle ">
					<span class="item_title_part0 item_title_part_odd item_title_part_first_half item_title_part_first">Últimas noticias</span>
				</h3>
			</header>
			<div class="mod-newsflash-adv news mod-newsflash-adv__ cols-1" id="module_108">
				{{#recent_posts count="6"}}
					{{#each posts }}
							<div class="row-fluid">
									<article class="span6 item item_num0 item__module  " id="item_87">
											<figure class="item_img img-intro img-intro__left">
											<a href="{{post_url}}">
											<span class="lazy_container" style="width: 170px;">
												<span class="lazy_preloader" style="padding-top: 74.117647058824%;"></span>
												<img src="#plugins/system/tmlazyload/blank.gif" class="lazy" data-src="{{image}}" alt="{{title}}"></span>
											</a>
											</figure>
											<div class="">
													<figcaption>{{tags}}</figcaption>

													<h4 class="item_title">
														<a href="{{post_url}}">{{title}}</a>
													</h4>

													<div class="item_introtext">
						                {{excerpt words="30"}} <a href="{{post_url}}">... ver más</a>
						              </div>

													<div class="item_info">
														<dl class="item_info_dl">
															<dt class="article-info-term"></dt>
															<dd>
																<time datetime="{{date format="%Y-%m-%d"}}" class="item_published">{{date format="%B %e, %Y"}}</time>
															</dd>
															<dd>
						                    {{#author}}
						                        <address class="item_createdby">
						                          <a class="author" href="{{author_url}}">{{name}}</a>
						                        </address>
						                    {{/author}}
						                  </dd>
														</dl>
													</div>
											</div>
											<div class="clearfix"></div>
								</article>
							</div>
							{{/each}}
					{{/recent_posts}}

					<div class="clearfix"></div>

				</div>
		</div>

		<!-- FIN ULTIMAS NOTICIAS -->

		<!-- NOTICIA RANDOM -->
		{{#recent_posts count="1"}}
			{{#each posts }}
				<div class="moduletable pull-right medium   span4">
					<div class="mod-newsflash-adv type mod-newsflash-adv__pull-right medium  cols-1" id="module_112">
							<div class="row-fluid">
								<article class="span4 item item_num0 item__module  lastItem" id="item_100">
										<div class="item_content">

										<figure class="item_img img-intro img-intro__none">
											<a href="{{post_url}}">
											<span class="lazy_container" style="width: 4686px;">
												<span class="lazy_preloader" style="padding-top: 75.544174135723%;"></span>
												<img src="#plugins/system/tmlazyload/blank.gif" class="lazy" data-src="{{image}}" alt="{{title}}"></span>
											<figcaption>{{tags}}</figcaption>
											</a>
										</figure>
										<div class="item_titulo">

												<h4 class="item_title">
												<a href="{{post_url}}">{{title}}</a>
												</h4>

												<div class="item_introtext"></div>

												<div class="item_info">
													<dl class="item_info_dl">
													<dt class="article-info-term"></dt>
													<dd>
														<time datetime="{{date format="%Y-%m-%d"}}" class="item_published">{{date format="%B %e, %Y"}}</time>
													</dd>
													<dd class="komento">
														{{#author}}
																<address class="item_createdby">
																	<a class="author" href="{{author_url}}">{{name}}</a>
																</address>
														{{/author}}
													</dd>
													</dl>
												</div>

										</div>
										</div>
								<div class="clearfix"></div>
							</article>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			{{/each}}
		{{/recent_posts}}
		<!-- FIN RANDOM -->


		<!-- featured -->

		<div class="moduletable   span4">
			<header>
				<h3 class="moduleTitle ">
					<span class="item_title_part0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Destacado</span>
				</h3>
			</header>
			<div class="mod-newsflash-adv news mod-newsflash-adv__ cols-1" id="module_110">
			  {{#each posts}}
						{{#is featured}}
						<div class="row-fluid">
								<article class="span4 item item_num0 item__module  " id="item_92">
								<div class="">
									<figcaption>{{tags}}</figcaption>

									<h4 class="item_title">
										<a href="{{post_url}}">{{title}}</a>
									</h4>

									<div class="item_introtext"></div>

									<div class="item_info">
										<dl class="item_info_dl">
											<dt class="article-info-term"></dt>
											<dd>
												<time datetime="2014-10-20 10:04" class="item_published">
												20 Oct 2014 </time>
											</dd>
											<dd>
												{{#author}}
														<address class="item_createdby">
															<a class="author" href="{{author_url}}">{{name}}</a>
														</address>
												{{/author}}
											</dd>
										</dl>
									</div>

								</div>
								<div class="clearfix"></div>
							</article>
						</div>
					{{/is}}
				{{/each}}
				<div class="clearfix"></div>
				<div class="mod-newsflash-adv_custom-link">

				</div>
			</div>
		</div>
<!-- fin featured -->

</div>
</div>

<section class="page-category page-category__"></section>
<script>
jQuery(function($) {
	var carousel = $("#caroufredsel_91")
	carousel.carouFredSel({
		responsive	: true,
		width: '100%',
		items		: {
			width : 768,
			height: 'variable',
			visible		: {
				min			: 1,
				max			: 1
			},
			minimum: 1
		},
		scroll: {
			items: 1,
			fx: "fade",
			easing: "swing",
			duration: 500,
			queue: true
		},
		auto: 2000,
						swipe:{
			onTouch: true
		}
	});
	$(window).load(function(){
		setTimeout(function(){
			carousel.trigger('configuration', {reInit: true})
		}, 100);
	});
});
</script>
